
.task ul {
  max-height: 300px; 
  overflow-y: auto;  
  margin: 0;
  padding: 0;
  list-style: none;
}

.task ul li {
  padding: 12px 8px;
  border-bottom: 1px solid #ddd;
}

.task ul li:last-child {
  border-bottom: none;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px 12px 50px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

li::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-size: cover;
  top: 12px;
  left: 8px;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex: 1;
  margin-right: 10px;
}

li span.completed {
  text-decoration: line-through;
  color: #393636;
  position: relative;
  padding-left: 20px;
}

li span.completed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url(../assets/check-symbol-4794.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

li button {
  background: #e9e6dd;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin: 2px;
  cursor: pointer;
  font-size: 14px;
  color: white;
}

li button.delete {
  background: #c12222c0;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

li button.delete:hover {
  background-color: #ef2e2e6e;
}

li button.edit {
  background: #becae293;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

li button.edit:hover {
  background-color: #c1c9ebe7;
}

li button.complete {
  background: #9dcf9485;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

li button.complete:hover {
  background-color: #53ce3d6e;
}

li button.undo {
  background: #dec782e9;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

li button.undo:hover {
  background-color: #8aa48d;
}
