@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

body {
  background: #e9e6dd62;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.todo-container {
  background: #ea1a1a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.task {
  width: 540px;
  height: 540px;
  background: #eeebdd;
  border-radius: 48px;
  box-shadow: 22px 22px 32px #bab8b1, -22px -22px 32px #ffffff;
  padding: 20px;
  overflow: hidden; 
}

.row {
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  width: 10vw;
}

form button {
  background: #35d54d;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 28px 28px 80px #bab7ac;
}

form button:hover {
  background-color: #4cae4c;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.filter-buttons {
  display: flex;
  margin-bottom: 20px;
}

.filter-buttons button {
  background: #e9e6dd;
  box-shadow: 22px 20px 40px #bab8b1, -22px -22px 32px #ffffff;
  border: none;
  padding: 1em 1.5em;
  font-size: 0.875rem;
  color: #0101019e;
  border-radius: 18px;
  cursor: pointer;
  margin: 0 3px;
  font-family: inherit;
}

.filter-buttons button:hover {
  background-color: #dcdcdc;
}
